body {
    background-color: rgb(21, 21, 26);
    color: rgb(255, 255, 255)
}
h1 {
    text-align: center;
    font-size: 50px
}
p {
    font-size: 40px
}
input {
    width: 30px;
    height: 30px
}
.label {
    display: inline-block;
    font-size: 30px
}

#yes {
    margin-right: 45px
}